nav {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   
   ul {
      padding: 0;
      list-style-type: none;
      display: inline-block;
      li {
         display: inline-block;
      }
   }
}